* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #ffff;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
nav ul {
  display: none;
}

button {
  border: transparent;
  font-size: 2rem;
  padding: 1rem;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 1rem;
}
nav button:hover {
  transition: 2s;
  animation-name: button;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes button {
  to {
    color: #0095ff;
  }
}
