.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50vh;
}
.container button {
  background-color: #0095ff;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: white;
}
