* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #ffff;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0rem 1rem 1rem 0rem;
}
ul {
  overflow: hidden;
  height: 0vh;
  transition: height 0.8s ease;
}
ul.show {
  height: 80vh;
}

button {
  border: transparent;
  font-size: 2rem;
  padding: 1rem;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 0rem 1rem 1rem 0rem;
}

nav button:hover {
  color: #0095ff;
  transition: color 0.5s ease;
}
